.ui.container
  h2 = t('.title')
  = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: 'ui form'.concat(resource.errors.any? ? ' error' : '') }) do |f|
    = render 'devise/shared/error_messages', resource: resource
    .field
      = f.label :email
      br
      = f.email_field :email, autofocus: true, autocomplete: 'email', value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)
    .actions
      = f.submit 'Resend confirmation instructions'
  = render 'devise/shared/links'
