.ui.container
  h2=t('.title')
  = form_for resource, as: resource_name, url: registration_path(resource_name), html: { class: 'ui form'.concat(resource.errors.any? ? ' error' : '') } do |f|
    = render 'devise/shared/error_messages', resource: resource
    .field.required class=('error' unless resource.errors[:email].empty?)
      = f.label :email
      = f.email_field :email, autofocus: true, autocomplete: 'email'
    .field.required class=('error' unless resource.errors[:password].empty?)
      = f.label :password
      - if @minimum_password_length
        em
          | (
          = @minimum_password_length
          |  characters minimum)
      = f.password_field :password, autocomplete: 'new-password'
    .field.required class=('error' unless resource.errors[:password_confirmation].empty?)
      = f.label :password_confirmation
      = f.password_field :password_confirmation, autocomplete: 'new-password'
    .ui.container.center.aligned
      .actions
        = f.submit 'Sign up', class: 'ui primary button'
  = render 'devise/shared/links'
