.ui.container
  h2=t('.title')
  = form_for resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: ('ui form'.concat( resource.errors.any? ? ' error' : '')) } do |f|
    = render 'devise/shared/error_messages', resource: resource
    .field.required class=('error' unless resource.errors[:email].empty?)
      = f.label :email
      = f.email_field :email, autofocus: true, autocomplete: 'email'
    .actions
      = f.submit 'Send me reset password instructions', class: 'ui primary button'
  = render 'devise/shared/links'
