.ui.container
  h2 = t('.title')
  = form_for resource, as: resource_name, url: session_path(resource_name), html: { class: 'ui form'.concat(resource.errors.any? ? ' error' : '') } do |f|
    .field.required class=('error' unless resource.errors[:email].empty?)
      = f.label :email
      = f.email_field :email, autofocus: true, autocomplete: "email"
    .field.required class=('error' unless resource.errors[:password].empty?)
      = f.label :password
      = f.password_field :password, autocomplete: "current-password"
    - if devise_mapping.rememberable?
      .field
        = f.check_box :remember_me
        = f.label :remember_me
    .actions
      = f.submit 'Log in', class: 'ui primary button'
  = render 'devise/shared/links'
