- content_for(:javascripts_post) do
  = javascript_pack_tag 'template-editor', 'data-turbolinks-track': 'reload'

- content_for(:stylesheets) do
  = stylesheet_pack_tag 'template-editor', 'data-turbolinks-track': 'reload'

= form_with model: @template, local: true, html: { class: 'ui form with-template-editor'.concat(@template.errors.any? ? ' error' : '') } do |f|
  - if @template.errors.any?
    .ui.error.message
      .header = "#{pluralize(@template.errors.count, "error")} prohibited this template from being saved:"
      ul
        - @template.errors.full_messages.each do |message|
          li = message
  .field.required class=('error' unless @template.errors[:name].empty?)
    = f.label :name
    = f.text_field :name
  .field.required class=('error' unless @template.errors[:subject].empty?)
    = f.label :subject
    = f.text_field :subject
  .field.required class=('error' unless @template.errors[:body].empty?)
    = f.label :body
    = f.hidden_field :body

  .template-editor == @template.body
  .actions = f.submit class: 'ui primary button'
