- content_for(:title) do
  = t('.title')

.ui.container
  h2=t('.title')

  table.ui.celled.table
    thead
      tr
        th Name
        th API Id
        th Subject
        th colspan="2" Actions

    tbody
      - @templates.each do |template|
        tr
          td data-label="Name" = link_to template.name, template
          td data-label="API Id" = template.friendly_id
          td data-label="Subject" = template.subject
          td = link_to 'Show', template
          td = link_to 'Destroy', template, data: { confirm: 'Are you sure?' }, method: :delete

  = link_to new_template_path, class: 'ui primary button' do
    i.plus.icon
    = t('.create_new')
