doctype html
html
  head
    meta name="viewport" content="width=device-width, initial-scale=1"
    title
      = page_title(yield :title)

    = csrf_meta_tags
    = csp_meta_tag
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'styles', 'data-turbolinks-track': 'reload'
    = stylesheet_pack_tag 'styles', 'data-turbolinks-track': 'reload'
    = yield :stylesheets
    = yield :javascripts
  body
    nav.ui.fixed.main.menu.inverted
      = link_to templates_path, class: 'item' do
        = t('.menu.my_templates')

    - if notice
      #notice.flash = notice
    - if alert
      #alert.flash = alert

    #main-container
      = yield

    = yield :javascripts_post